*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: cursive;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.main_frame{
    height:80% ;
    width:80% ;
    text-align: center;
    border-color: black;
    /* background-color: blue; */
    margin: 0 auto;
}
.main_frame .head h1 {
    font-size: 45px;
    color: rgb(218, 139, 139);
}
.main_frame .head span{
    font-size: 80px;
    color: rgb(236, 50, 87);
}
.image_frame{
    margin: 20px;
    height: 100%;
    border: 2px solid rgb(167, 30, 26);
    position: relative;

}
.image_frame img{
height: 100%;
width: 100%;

}
.image_frame button{
 height: 40px;
 width: 40px;
 color: whitesmoke;
 background-color: rgb(202, 88, 126);
 border: none;
cursor: grab;
transition: 0.5s; 
border-radius: 40%;

}

.image_frame #leftBTN{
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);

}
.image_frame #rightBTN{
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);

}
.image_frame button:hover{
    background-color: rgb(16, 52, 169);}



